<div class="product-page">
    <div *ngIf="product">
        <h1>{{ product.title }}</h1>
        <img [src]="product.imageUrl" alt="{{ product.title }}">
        <p>Price: {{ product.value }}</p>
    </div>
    
    <div *ngIf="!product">
        <p>No product data available.</p>
    </div>

    <div class="input-quantity">
        <label for="">Quantity</label>
        <input type="text" name="" id="">
    </div>
    
    <div class="buttons-container">
        <button (click)="navigateToHome()">Home</button>
        <button (click)="navigateToCart()">Cart</button>
    </div>  
</div>

