<div class="product-page">
    <div *ngIf="product">
        <h1>{{ product.title }}</h1>
        <img [src]="product.imageUrl" alt="{{ product.title }}" class="product-image">
        <p>Price: {{ product.value }}</p>
    </div>
    
    <div *ngIf="!product">
        <p>No product data available.</p>
    </div>

    <div class="input-quantity">
        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" min="1" [(ngModel)]="quantity" placeholder="Enter quantity">
    </div>
    
    <div class="buttons-container">
        <button (click)="navigateToHome()">Home</button>
        <button (click)="navigateToCart()">Cart</button>
        <button (click)="addToCart()">Add</button>
    </div>  
</div>

