.product-page{
    /* display: flex;  */
    background-color: #f4f4f4;
    width: 600px;
    height: 500px;
}

.product-page-top img{
    width: 300px;
    height: 300px;
    border: 1px solid;
}

.input-quantity{
    width: 300px;
}

button{
    width: 80px;
    height: 60px;
}

.buttons-container{
    display: flex;
    justify-content: space-evenly; /* Espaça os botões uniformemente */
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%; /* Faz com que os botões ocupem toda a largura da tela */
    background-color: #fff; /* Fundo branco para destacar os botões */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

p{
    font-size: 20px;
}

.product-image{
    max-width: 300px; /* Set a maximum width */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 10px 0; /* Add some spacing */
}